<div class="card">

    <div class="card-header">
        <h2>Lista de Usuários</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-2">
                <a href="/Usuarios/Index" class="btn btn-success">
                    Novo Usuário
                </a>
            </div>
            <div class="col-3">
                <select name="filtro" class="form-control">
                    <option value="0">Todos os campos</option>
                    <option value="id">Por Id</option>
                    <option value="nome">Por Nome</option>
                    <option value="telefone">Por Telefone</option>
                </select>
            </div>
            <div class="col-5">
                <input type="text" name="busca" class="form-control" />
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">
                    Pesquisar
                </button>
            </div>
        </div>

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mariana</td>
                    <td>(16) 98106-5794</td>
                    <td>
                        <a href="/Usuarios/editar/1" class="btn btn-warning"> Editar </a>
                        <a href="/Usuarios/excluir/1" class="btn btn-danger"> Excluir </a>
                        <a href="/Usuarios/compras/1" class="btn btn-info"> Lista de Usuarios </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jaime</td>
                    <td>(16) 98712-4331</td>
                    <td>
                        <a href="/Usuarios/editar/2" class="btn btn-warning"> Editar </a>
                        <a href="/Usuarios/excluir/2" class="btn btn-danger"> Excluir </a>
                        <a href="/Usuarios/compras/2" class="btn btn-info"> Lista de Usuarios </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Eduardo</td>
                    <td>(16) 98158-5354</td>
                    <td>
                        <a href="/Usuarios/editar/3" class="btn btn-warning"> Editar </a>
                        <a href="/Usuarios/excluir/3" class="btn btn-danger"> Excluir </a>
                        <a href="/Usuarios/compras/3" class="btn btn-info"> Lista de Usuarios </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Gabriel</td>
                    <td>(16) 98106-6712</td>
                    <td>
                        <a href="/Usuarios/editar/4" class="btn btn-warning"> Editar </a>
                        <a href="/Usuarios/excluir/4" class="btn btn-danger"> Excluir </a>
                        <a href="/Usuarios/compras/4" class="btn btn-info"> Lista de Usuarios </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>