<h2>Index do usuário</h2>

Criar uma tabela com dados de usuário fictício

<table class="table table-striped">
    <thead>
        <tr>

            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Eduardo</td>
            <td>(16) 98102-3552</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Contatinho</td>
            <td>(16) 98137-9999</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lucas</td>
            <td>(16) 98165-9149</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Gabriel</td>
            <td>(16) 98165-9889</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Whashinton</td>
            <td>(16) 98165-9976</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Ibere</td>
            <td>(16) 98165-5099</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Joao</td>
            <td>(16) 98165-9679</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Mec</td>
            <td>(16) 98165-3499</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Maria</td>
            <td>(16) 98165-1199</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Joana</td>
            <td>(16) 98165-8769</td>
        </tr>
</table>