@model WebApp_Tarde.Entidades.CategoriaEntidade

<form action="/Categorias/SalvarDados" method="post">
    <label>Nome</label>
    <input type="text" name="Nome" />
    <br />
    <button type="submit">
        Salvar
    </button>
</form>