<div class="card">

    <div class="card-header">
        <h2>Lista de Produtos</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-2">
                <a href="/Produtos/ListaP" class="btn btn-success">
                    Novo Produto
                </a>
            </div>
            <div class="col-3">
                <select name="filtro" class="form-control">
                    <option value="0">Todos os campos</option>
                    <option value="id">Por Id</option>
                    <option value="nomep">Por Nome</option>
                    <option value="valor">Por Valor</option>
                    <option value="qntd">Por Quantidade</option>
                </select>
            </div>
            <div class="col-5">
                <input type="text" name="busca" class="form-control" />
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">
                    Pesquisar
                </button>
            </div>
        </div>

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Chinelo</td>
                    <td>R$13,99</td>
                    <td>13</td>
                    <td>
                        <a href="/Produtos/editar/1" class="btn btn-warning"> Editar </a>
                        <a href="/Produtos/excluir/1" class="btn btn-danger"> Excluir </a>
                        <a href="/Produtos/compras/1" class="btn btn-info"> Lista de produtos </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Boné</td>
                    <td>R$9,99</td>
                    <td>3</td>
                    <td>
                        <a href="/Produtos/editar/2" class="btn btn-warning"> Editar </a>
                        <a href="/Produtos/excluir/2" class="btn btn-danger"> Excluir </a>
                        <a href="/Produtos/compras/2" class="btn btn-info"> Lista de produtos </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Calça</td>
                    <td>R$30,00</td>
                    <td>4</td>
                    <td>
                        <a href="/Produtos/editar/3" class="btn btn-warning"> Editar </a>
                        <a href="/Produtos/excluir/3" class="btn btn-danger"> Excluir </a>
                        <a href="/Produtos/compras/3" class="btn btn-info"> Lista de produtos </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Camiseta</td>
                    <td>R$25,00</td>
                    <td>5</td>
                    <td>
                        <a href="/Produtos/editar/4" class="btn btn-warning"> Editar </a>
                        <a href="/Produtos/excluir/4" class="btn btn-danger"> Excluir </a>
                        <a href="/Produtos/compras/4" class="btn btn-info"> Lista de produtos </a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</div>