<h1>Página de login</h1>

<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h1>Realize seu login</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3 row">
                        <label>Email</label>
                        <input name="Email" id="inputEmail" class="form-control" type="text" />
                        <label>Senha</label>
                        <input id="inputSenha" class="form-control" type="password" />
                        <input id="btn-logar" class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>